<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <div class="container">
      <br>
      <h4>Please Login:</h4>
      <br>
      <form class="form-inline" action="" method="post">
        <input type="text" class="form-control" placeholder="Email" name="email" value="{{request.form.email}}">
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{request.form.password}}">
        <input class="btn btn=default" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>
