<html lang = "en" fir = "ltr">
<head>
<style>
table{
    font-family: 'Courier New', Courier, monospace
    border-collapse: collapse
    width: 100%
}

td,th{
    border: 1px solid #dddddd
    text-alignleft 
    padding: 8px
}

tr:nth-child(even){
    background-color: #dddddd
}
</style>
</head>
<body>
    <h3>Personal Portfolio</h3>
    <div class = "information">
        <div id = "basic_info">
            <div>
                <img src="/Users/xjzayd/Desktop/TarTanHack/images/WechatIMG89.jpg" weidth="50" height ="50">
            </div>
            <h3> Zhuofei Xie </h3>
            <p><strong>Major:</strong>Computer Science</p>
            <p><strong>Year:</strong>sophomore</p>
            <p><strong>School:</strong>University of Pittsburgh</p>
        </div>
        <div id = "self_description">
            <h3>Self Description</h3>
            <p>This is Zhuofei Xie. I am a sophomore this</p>
            <p>year and major in computer science.</p>
        </div>
        <div id = "Course_info">
            <h3> Courses information</h3>
            <p><strong>Taken Courses:</strong>CS 1501</p>
        </div>
        <div>
            <form>
                <input type="button" value="edit" onclick="window.location.href='file:///Users/xjzayd/Desktop/TarTanHack/edit_portfolio_information.html'" />
            </form>
        </div>
    </div>

    <h3>Calender</h3>
    <div class = "Academic Calender">
        <div id = "schedule">
            <table>
                <tr>
                    <th>Courses</th>
                    <th>Professor</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>MATH 0413</td>
                    <td>Dr.G.Caginalp</td>
                    <td>Introduction to Theoretical Mathematics</td>
                </tr>
            </table>
            <form>
                <input type="button" value ="add/delet" onclick="window.location.href='file:///Users/xjzayd/Desktop/TarTanHack/add_delete_schedule.html'"/>
            </form>
        </div>

    </div>
</body>
</html>>