<html lang = "en" fir = "ltr">
<head>
<style>
table{
    font-family: 'Courier New', Courier, monospace
    border-collapse: collapse
    width: 100%
}

td,th{
    border: 1px solid #dddddd
    text-align:middle 
    padding: 8px
}

tr:nth-child(even){
    background-color: #dddddd
}
</style>
    <title>Other User Portfolio Page</title>
</head>
<body>
    <div class = "Other User">
        <div id = "Person Info">
            <h3>Siyu Zhang </h3>
            <button>follow</button>
            <p><strong>Major:</strong>Computer Science</p>
            <p><strong>Enrollment Year: </strong>2017</p>
            <p><strong>Year:</strong>sophomore</p>
            <p><strong>School:</strong>University of Pittsburgh</p>
            <h3>Course Taken</h3>
            <table>
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                    <th>Professor Name</th>
                </tr>
                <tr>
                    <td>CS 1501</td>
                    <td>Implementing Algorithm</td>
                    <td>William Garrison</td>
                </tr>
            </table>
        </div>
    </div>
</body>