<html lang = "en" fir = "ltr">
<head>
    <title>Professor Information</title>
</head>
<body>
    <div class = "professor Information">
        <div id ="Personal Information">
            <p>"add an image here"</p>
            <h3>Personal Information</h3>
            <p><strong>Name: </strong>Garrison</p>
            <p><strong>Office: </strong>sennote square 5129</p>
            <p><strong>Email: </strong> bill@cs.pitt.edu</p>
            <p><strong>Departments: </strong>Computer Science</p>
            <input type="button" value="Go to Chat Room" onclick="window.location.href='file:///Users/xjzayd/Desktop/ProClass/proclass/templates/Chat_room.html'" />
        </div>
        <div id = "Research">
            <h3>Research</h3>
            <p>My research interests are based in the formal study of computer systems to
               better understand the practical implications of security decisions. My dissertation 
               work is in access control suitability analysis: given the requirements of an application,
               choose the access control system that is most well-suited to that application among those 
               that are expressive enough to safely satisfy it. This is in contrast to traditional access 
               control evaluation, which is application-agnostic and deems the most expressive system the 
               best. To this end, I am developing techniques that evaluate access control systems while considering 
               application-sensitive requirements and evaluation metrics (both qualitative and quantitative).My other 
               research interests include usable web privacy tools and mobile malware risk estimation from structural 
               properties of application packages</p>
        </div>
    </div>
</body>