<html lang ="en" fir = "ltr">
<head>
<style>
table{
    font-family: 'Courier New', Courier, monospace
    border-collapse: collapse
    width: 100%
}

td,th{
    border: 1px solid #dddddd
    text-alignleft 
    padding: 8px
}

tr:nth-child(even){
    background-color: #dddddd
}
</style>
</head>
<body>
    <div class = "Professor_info">
        <h3>William Garrison</h3>
        <p>I am William Garrison, cited as William C. Garrison III,</p> 
        <p> usually called Bill. I am a lecturer at the Department</p> 
        <p> of Computer Science at the University of Pittsburgh.</p>
        <input type="button" value="view more information" onclick="window.location.href='file:///Users/xjzayd/Desktop/TarTanHack/professor_information.html'" />
    </div>
    <div class = "rate_result">
        <div id = "scores">
            <h3>Scores</h3>
        </div>
        <p><strong>Courses</strong>
            <select>
                <option value=CS0441>CS441 Discrete Structures</option>
                <option value="CS0445">CS0445 Data Structures</option>
                <option value="CS1501">Algorithm Implementation</option>
                <option value="CS1699">Privacy in the Electronic Society</option>
            </select>
            <button>confirm</button>
            <p><button>view the syllabus</button></p>
        </p>
        <table>
            <tr>
                <th>Overall</th>
                <th>Class Organization</th>
                <th>Difficulty of Exams/Quiz/Paper</th>
                <th>Lecture style</th>
            </tr>
            <tr>
                <td>9.0  (Excellent!)</td>
                <td>9.5  (Excellent!)</td>
                <td>8.5  (Good!)</td>
                <td>9.0  (Excellent!)</td>
            </tr>
        </table>
        <div id = "tags">
            <h3>Tags</h3>
            <p><strong>Easy to communicate </strong>5</p>
            <p><strong>Well-organized </strong>3</p>
            <p><strong>Tough Grader </strong>1</p>
        </div>
        <div id = "Comments">
            <h3>Comments</h3>
            <p><strong>Name:</strong> Lily</p>
            <p><strong>Taking term: </strong> Spring 2019</p>
            <p><strong>comment:</strong>He really gives me a good introduction of how to ...</p>
        </div>
    </div>
</body>
</html>