<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Result</title>
    <style >
      #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
      }

      #myUL li a:hover:not(.header) {
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    <h1>{{ category + " : " + name}}</h1>
    {% if category == 'Class' %}
      <ul class="myUL" id="class_result">
        {% for result in results %}
          <li><a href="#"></a>{{result}}</li>
        {% endfor %}
      </ul>
    {% else %}
      <ul class="myUL" id="professor_result">
        {% for result in results %}
          <li><a href="#"></a>{{result}}</li>
        {% endfor %}
      </ul>
    {% endif %}


  </body>
</html>
