<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Result</title>
  </head>
  <body>
    <h1>{{ category + " : " + name}}</h1>
    {% if category == 'Class' %}

    <ul id="class_result">
      {% for result in results %}
      <li>{{result}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- <li><a href= {{ url_for('result', name=class.name) }}>{{class.name}}</a></li> -->

    <!-- <ul id="class_result">
      {% for class in classes %}
        <li><a href= {{ url_for('class', name=class.name) }}>{{class.name}}</a></li>
      {% endfor %}
    </ul>
    <ul id="professor_result">
      {% for professor in professors %}
        <li><a href= {{ url_for('professor', name=professor.name) }}>{{professor.name}}</a></li>
      {% endfor %}
    </ul>
    <ul id="user_result">
      {% for user in users %}
        <li><a href= {{ url_for('user', name=user.name) }}>{{user.name}}</a></li>
      {% endfor %}
    </ul> -->

  </body>
</html>
